<!DOCTYPE html>
<html>
  <head>
    <title>Tito API Lookup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
      p { margin: 0px; }
      button { padding: 0px; line-height: 0 }
    </style>
  </head>
  <body>
    <h1>A simple app for looking up data using the Tito API.</h1>

    <form action="/deploy" method="POST">
      <div>
        <label>
          <strong>Tito event</strong>
          <p>The account and event part of your event’s URL slug, e.g. <code>demo/awesomeconf</code></p>
          <input type="text" name="tito_event" value="<%= ENV["TITO_EVENT"].to_s %>">
        </label>
      </div>

      <div>
        <label>
          <strong>Tito secret API key</strong>
          <p>Your Tito secret API key. You can get this <a href="https://id.tito.io/api-access-tokens">here</a></p>
          <input type="password" name="tito_secret_key" value="<%= ENV["TITO_SECRET_KEY"].to_s %>"></label>
        </label>
      </div>

      <div>
        <label>
          <strong>Shared secret (optional)</strong>
          <p>An optional secret key to share with whoever you give access to this app to protect against unauthorised use.</p>
          <input type="text" name="shared_secret" value="<%= ENV["SHARED_SECRET"].to_s %>"></label>
        </label>
      </div>

      <button>
        <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
      </button>
    </form>
  </body>
</html>